<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Confoguration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://194.177.22.136:3306/DEV__etd?serverTimezone=UTC</property>
        <property name="hibernate.connection.username">DEV__etd</property>
        <property name="hibernate.connection.password">Rdeb6JJw11</property>
        <property name="hibernate.connection.pool_size">1</property>
        <property name="show_sql">true</property>
        <property name="format_sql">false</property>
        <property name="current_session_context_class">thread</property>
    </session-factory>
</hibernate-configuration>