{{> header}}
{{> navbar}}
<div class="container">
    <h1>
        This is firs page from this application!
    </h1>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <div>
                <p>If you want to use this application you need to login</p>
            </div>
            <div>
                <a href="/main">Main</a>
            </div>
        </div>
    </div>
</div>

{{> footer}}