{{> header}}

<div class="window">
    <div class="form-bg" id="login-page">
        <div class="inner">
            <h1 class="form-header"><img src="../../../../img/logo.svg"></h1>
            <form action="/login" method="post">
                <div class="input-group">
                    <input id="login" type="text" class="input-field" name="username" required>
                    <span class="bar"></span>
                    <label for="login" class="input-field-label">Login</label>
                </div>
                <div class="input-group">
                    <input id="password" type="password" class="input-field" name="password" required>
                    <span class="bar"></span>
                    <label for="password" class="input-field-label">Password</label>
                </div>
                {{#_csrf}}<input type="hidden" name="_csrf" value="{{_csrf.token}}">{{/_csrf}}
                <div class="auth-buttons">
                    <input class="login-btn" type="submit">Log in</input>
                    <div class="register-and-forget-pass-link">
                        <a href="/registration" class="below-form-text">Register</a>
                        <a href="#" class="below-form-text">Forget password?</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{{> footer}}