{{> header}}
{{> navbar}}
<div class="container">
    <div class="row">
        <h1>Project Page</h1>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <div>
                {{#project}}
                <h1>{{title}}</h1>
                {{/project}}
            </div>
        </div>
        <div class="col">
            <div>
                {{#tasks}}
                <h1>{{id}}</h1>
                <h1>{{title}}</h1>
                {{/tasks}}
            </div>
        </div>
        <div class="col">
            <div>
                {{#followers}}
                <h1>{{id}}</h1>
                <h1>{{userName}}</h1>
                {{/followers}}
            </div>
        </div>
    </div>
</div>

{{> footer}}