{{> header}}
{{> navbar}}
<div class="container">
    <div class="row">
        <h1>Projects Page</h1>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <div>
                <p>This is the projects page!</p>
                <p>Current projects are:</p>
            </div>
            <div>
                {{#projects}}
                <h1>{{title}}</h1>
                {{/projects}}
           </div>
        </div>
    </div>
</div>

{{> footer}}