{{> header}}
{{> navbar}}
<div class="container">
    <div class="row">
        <h1>Teams Page</h1>
    </div>
</div>
<div class="container">
    <div class="row">
        {{#teams}}
        <div class="col">

            <div>
                <p>Tema id: {{id}}</p>
                <p>Tema title: {{title}}</p>
            </div>

        </div>
        {{/teams}}
    </div>
    <div class="row">
        {{#projects}}
            <div class="col">

                <div>
                    <p>Project id: {{id}}</p>
                    <p>Project title: {{title}}</p>
                </div>

            </div>
        {{/projects}}
    </div>
</div>

{{> footer}}