*.idea
*.iml
/target
*.log
front-play/node_modules/
front/live/
front/.awcache/
front/Default (1).xml
front/coverage/
# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
